.centerText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.spaceAround {
  display: flex;
  justify-content: space-around;
}
.imgBehindText {
  position: relative;
  text-align: center;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  margin: 0 auto;
  width: 500px;
}
header {
  margin-top: 70px;
}
img {
  border-radius: 10px;
}
a {
  cursor: pointer;
}
button {
  margin: 0px 80px;
  border-radius: 10px;
  width: 100px;
  height: 30px;
  border: none;
  background-color: #F58676;
}
.btn {
  margin: 100px;
}
.headline {
  position: relative;
  text-align: center;
}
.headline .headline-img {
  width: 100%;
}
.Logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
}
.footer-img {
  width: 100%;
}
.background-images {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.background-images .mission-statement-one {
  width: 20%;
  background-image: url("../img/doughnutDown.jpeg");
}
.background-images .mission-statement-two {
  width: 20%;
  background-image: url("../img/partyFood.jpeg");
}
.background-images .mission-statement-three {
  width: 20%;
  background-image: url("../img/muffins.jpeg");
}
.get-started {
  text-align: center;
}
.middle-section {
  position: relative;
  text-align: center;
}
.middle-section .about-headline-img {
  width: 100%;
}
.about-header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
}
.call-to-action {
  display: flex;
  justify-content: center;
  margin: 120px 0px;
}
.nav {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.nav .btn {
  margin: -20px;
}
.nav a {
  z-index: 99;
}
.nav button {
  margin: 0px;
}
.header-about {
  margin-bottom: 70px;
  text-align: center;
}
.header-about h1 {
  font-size: 4rem;
}
.profile {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 35px;
}
.profile img {
  width: 100px;
  border-radius: 50%;
}
.profile .bio {
  width: 200px;
  height: 100%;
  padding-left: 15px;
  align-content: center;
}
.profile .bio h3 {
  font-size: 2rem;
}
.profile .bio p {
  font-size: 1.5rem;
  margin-top: 15px;
}
.profile .bio a {
  text-decoration: none;
  color: black;
}
.profile .bio a:hover {
  color: teal;
}
#michele .bio,
#colby .bio,
#tauan .bio {
  order: -1;
}
