* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    margin: 0 auto;
    width: 500px;
}

body {
    font-family: 'Roboto Slab', serif;
    font-size: 14pt;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 36pt;
    font-weight: bold;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 24pt;
    font-weight: medium;
}

h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 18pt;
    font-weight: medium;
    font-style: italic;
}


header {
    margin-top: 70px; 
}

img {
    border-radius: 10px;
}

a {
    cursor: pointer;
}

button {
    font-family: 'Raleway', sans-serif;
    font-weight: 800; //extra bold
    font-size: 18pt;
    margin: 0px 80px;
    border-radius: 10px;
    width: 150px;
    height: 40px;
    border: none;
    background-color: #F58676;

}

.btn {
    margin: 100px;
}

.headline {
    .imgBehindText();

    .headline-img {
        width: 100%;
        opacity: .75;
    }
}

.Logo {
    .centerText();
    width: 50%;
    -webkit-filter: drop-shadow(5px 5px 5px black);
  filter: drop-shadow(5px 5px 5px black);
}

.footer {
    opacity: .8;
}