.background-images {
    .spaceAround();
    flex-wrap: wrap;

    .mission-statement-one {
        width: 20%;
        background-image: url("../img/doughnutDown.jpeg");
    }
    .mission-statement-two {
        width: 20%;
        background-image: url("../img/partyFood.jpeg");
    }
    .mission-statement-three {
        width: 20%;
        background-image: url("../img/muffins.jpeg");
    }
} 

.get-started {
    text-align: center;
}

.middle-section {
    .imgBehindText();

    .about-headline-img {
        width: 100%;
    }
}
.about-header {
    .centerText();
    font-size: 3rem;
}

.call-to-action {
    display: flex;
    justify-content: center;
    margin: 120px 0px;
}



