.background-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .mission-statement-img {
        width: 40%;
        margin-top: 50px;
    }
}    

.get-started {
    text-align: center;
}

.middle-section {
    position: relative;
    text-align: center;

    .about-headline-img {
        width: 100%;
    }
}
.about-header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
}

.call-to-action {
    display: flex;
    justify-content: center;
    margin: 120px 0px;
}



