.centerText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.spaceAround {
    display: flex;
    justify-content: space-around;
}

.imgBehindText {
    position: relative;
    text-align: center;
}

.backgroundImageStyling {
        width: 30%;
        padding: 5% 2%;
        margin: 40px 20px;
        border-radius: 10px;
        background-size: cover;
        opacity: .9;
}

.textStyling {
        font-size: 14pt;
        text-align: center;
        text-shadow:0px 5px 8px #0e0c0c,0px -5px 8px #ffffff,5px 0px 8px #ffffff,-5px 0px 8px #ffffff;
        line-height: 1.2;
}


.butStyle(@bgColor, @fontColor) {
    font-family: 'Raleway', sans-serif;
    font-weight: 800; //extra bold
    font-size: 18pt;
    margin: 0px 80px;
    border-radius: 10px;
    width: 150px;
    height: 40px;
    border: none;
    background-color: @bgColor;
    color: @fontColor;

    &:hover {
        background-color:#00A8C5;
        color: white;
      }

}